In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [10]:
# setting path to folders

parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
scripts_dir = parent_dir+"/scripts"
data_dir = parent_dir+"/data"

sys.path.insert(1, scripts_dir)

In [3]:
# loading script

from data_summarizing_functions import DataSummarizer
from dashboard_viz import VizManager

sumar = DataSummarizer()
viz = VizManager()

In [4]:
# loading data

original_df = pd.read_csv(data_dir+"/SmartAd_original_data.csv")

In [5]:
# Taking a look at the data

original_df.shape

(8077, 9)

In [6]:
original_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [7]:
# lets take a look at missing values

sumar.summ_columns(original_df)

     variables  missing_count  missing_percent_(%) data_type  unique_values
0   auction_id              0                  0.0    object           8077
1   experiment              0                  0.0    object              2
2         date              0                  0.0    object              8
3         hour              0                  0.0     int64             24
4  device_make              0                  0.0    object            270
5  platform_os              0                  0.0     int64              3
6      browser              0                  0.0    object             15
7          yes              0                  0.0     int64              2
8           no              0                  0.0     int64              2

In [8]:
# checking if there are rows with 0 input for both yes and no and extracting the opposite.
print ("Missing values: ", original_df.loc[((original_df["yes"]== 0) & (original_df["no"]==0))].shape[0])

clean_df = original_df.loc[~((original_df["yes"]== 0) & (original_df["no"]==0))]

print("Usable rows: ", clean_df.shape[0])
clean_df.head()

Missing values:  6834
Usable rows:  1243

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
16,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1,0
20,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,6,Chrome Mobile,0,1
23,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,6,Facebook,1,0
27,00ebf4a8-060f-4b99-93ac-c62724399483,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,1

In [11]:
# saving cleaned data

clean_df.to_csv(data_dir+"/SmartAd_clean_data.csv", index=False)